page {
    width: 100%;
    display: block;
}
page.page__grid {
     width: 1200px;
     margin: 0 auto;
}
@media (min-width: 740px) and (max-width: 1024px)
{
     page.page__grid { 
          width: 700px;
     }
}
